
%h1
  = @check["name"]

.status-icon-container
  .status-icon.shiny-blue{ class: @check["status"] }
    .status-icon-reflection

.status-text
  .status-state{ class: @check["status"] }
    = @check["status"].capitalize
  .status-time
    - unless @check["lastresponsetime"].nil?
      = "#{@check["lastresponsetime"]}"
      %small ms
