
%h1
  = @check["name"]

.status-icon-container
  .status-icon.shiny-blue{ class: @check["status"] }
    .status-icon-reflection

.status-text
  .status-state{ class: @check["status"] }
    = @check["status"].capitalize
  .status-time
    = "#{@check["lastresponsetime"]}"
    %small ms
