!!! 5

%html
  %head
    %meta{ charset: "utf-8" }
    %title Pingdom Status
    %script{ src: "/scripts/refresh.js" }
    %link{ rel: "stylesheet", href: "/styles/default.css" }

  %body

    .widget
      = yield
